/* ======ABOUT ME======= */
.about {
    text-align: center;

    &_container {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2.5rem;

        .about-img {
            border: 3px solid $primary;
            border-radius: 50%;
            overflow: hidden;
            max-width: 12.5rem;
            max-height: 12.5rem;
            margin-right: 2rem;
            position: relative;
            align-items: center;
            margin-bottom: 2rem;
        }
        .about-text {
            max-width: 70%;
            text-align: justify;
            line-height: 1.5rem;
            letter-spacing: 0.5px;
            padding-bottom: 2.5rem;

            p {
                margin-bottom: 0.8rem;
            }
            .text {
                margin-bottom: 1rem;
                span {
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
        
    }
}