/* ======SKILLS======= */
.skills {
  .new {
    text-align: center;
  }

  &_container {
    width: 80vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    background-color: $black;
    border-radius: 2rem;

    .image-container {
      margin: 1rem auto;
      display: inline-block;
      position: relative;

      img {
        width: 4rem;
        height: auto;
      }

      .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: -3rem;
        left: 0%;
        margin-left: -30px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
